.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .login-form {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 1px #ccc;
  }
  
  .login-form h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .login-form form {
    display: flex;
    flex-direction: column;
  }
  
  .input-container {
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    width: 100%;
  }
  
  .input-container i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #757575;
    font-size: 16px;
    pointer-events: none;
  }
  
  .input-container input[type="text"],
  .input-container input[type="password"] {
    padding: 5px 40px 5px 10px;
    border: none;
    background-color: transparent;
    outline: none;
    width: 100%;
    border-radius: 5px;
  }
  
  .login-form input[type="submit"] {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    align-self: center;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  
  .input-container input[type="text"] + i,
  .input-container input[type="password"] + i {
    left: 10px;
  }


  * dashboard */
  body.dashboard {
    background: #f5f6fa;
  }
  
  
  .topbar h1 {
    background-color: #8b4949;
    color: #fff;
    padding: 10px 16px;
    width: 80%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 225px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  
  
   .dashboard-container h1 {
    margin: 0;
    margin-right: 20px;
    text-align: center;
  }
  
  
  .out-button {
    padding: 8px 16px;
    border: none;
    background-color: #109a24;
    color: #fff;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
  }
  
  
  .dashboard-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .sidebar-display{
    background: rgb(58, 124, 195);
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 225px;
    height: 100%;
    z-index: 1;
  }
  
  
  .sidebar-button:hover {
    background-color: #7d4a4a;
  }
  
  
  .sidebar-display ul li a{
    display: flex;
    padding: 15px 5px;
    padding-left: 10px;
    border-bottom: 1px solid #597b97;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
  }
  
  
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  
  .main-body {
    position: relative;
    top: 100px;
    padding: 20px;
    margin-left: 225px;
    z-index: 2;
    text-align: center;
  }
  
  
  .footer {
    background-color:rgb(58, 124, 195);
    color: #fff;
    padding: 10px 20px;
    width: 80%;
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 225px;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  
  .footer h5 {
    margin: 0;
    margin-right: 20px;
  }
  